<div class="head big text-center" style="background-color:#abd11a;"><span class="pont">D</span> Volets</div>

<%= image_tag("bubendorff1.png", alt: "Bubendorff", class: 'center-block', height: '80') %>

<section class="row pager">
    <%= link_to 'Toutes', fetch_shutters_items_path(:categ => nil), :remote => true, :class => 'btn btn-xs btn-gray' %>
    <% @categories.each do |category| %>
      <%= link_to category.libelle, fetch_shutters_items_path(:categ => category.id), :remote => true, :class => 'btn btn-xs btn-gray' %>
    <% end %>
</section>

<hr>

<div id="shutters" class="transitions-enabled infinite-scroll clearfix centered content">
  <%= render partial: 'shutters', locals: { shutters: @shutters} %>
</div>