<div class="head big text-center" style="background-color:#d40015;"><span class="pont">D</span> Portes de garage</div>

<section class="row pager">
    <%= link_to 'Toutes', fetch_garages_items_path(:categ => nil), :remote => true, :class => 'btn btn-xs btn-gray' %>
    <% @categories.each do |category| %>
      <%= link_to category.libelle, fetch_garages_items_path(:categ => category.id), :remote => true, :class => 'btn btn-xs btn-gray' %>
    <% end %>
</section>

<hr>

<div id="garages" class="transitions-enabled infinite-scroll clearfix centered content">
  <%= render partial: 'garages', locals: { garages: @garages} %>
</div>