<h1 class="text-center">Contact</h1>

<hr>

<address>
  <strong>Lainé Fermetures</strong><br>
  55 Avenue du Général Foy<br>
  Amiens, 80 000<br>
  03.22.95.56.85
</address>

<address>
  <strong>Full Name</strong><br>
  <a href="mailto:#">first.last@example.com</a>
</address>