<h3>Lainé Fermetures</h3>

<div class="row">
  <div class="col-md-9">
  	Bienvenue sur le site de LAINÉ Fermetures Amiens.
 	<br><br>
	Consultez nous pour l'installation de vos fenêtres, portes, volets roulants, porte de garage, portail :<br>
	PVC ou Aluminium sur AMIENS et dans la Somme.
	<br><br>
	Lainé Fermetures est à votre service pour la réalisation de vos projets.
	<br><br>
	<b><u>Notre objectif :</u></b><br>
	Faire de votre habitation de confort et agréable à vivre.
  </div>

  <div class="col-md-3">
  	<%= image_tag("logo.png", :alt =>  "Lainé Fermetures", :class =>"navbar-brand") %>

	<br><br><br><br>

  	55 Avenue du Général Foy
  	<br>
	80000 AMIENS
	<br>
	Tél. 03.22.95.56.85
  </div>
</div>