<div class="row">
	<div class="col-md-8">
		<h3>Lainé Fermetures</h3>
		<br>
		Bienvenue sur le site de LAINÉ Fermetures Amiens. 
		<br><br>
		Un projet d’aménagement ou de rénovation ? Consultez nous pour l'installation de vos fenêtres, portes, volets roulants, porte de garage, portail (PVC ou Aluminium).
		<br><br>
		Depuis 1990, nous sommes à votre service pour vous accompagner dans la réalisation de vos projets sur Amiens et dans toute la Somme.
		<br><br>
		Nous sommes également Reconnu Garant de l’Environnement grâce à la certification RGE Qualibat.
		<br><br>
		<strong><u>Notre objectif :</u></strong><br>
		Faire de votre habitation un espace de confort, agréable à vivre.
	</div>

	<div class="col-md-4">
	  	<%= image_tag("vitrine.jpg", :alt =>  "Lainé Fermetures", :width => '300px') %>
  	</div>
</div>