@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/transitions';
@import 'slick';
@import 'slick-theme';

/*********************************************/
/*                  GENERAL                  */
/*********************************************/
body{
	background-image: url("/images/header.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
  	padding-top: 100px;
}

.jumbotron{
	padding-left: 0 !important;
    padding-right: 0 !important;
}

.head {
  color: white;
  padding-bottom: 15px;
  padding-top: 15px;
}

#accueil{
	padding-left: 60px;
    padding-right: 60px;
}

#contact{
	padding-left: 60px;
    padding-right: 60px;
}

.black{color:#444;}
.bleu{color:#0c49a6;}
.rouge{color:#d40015;}
.vert{color:#abd11a;}
.jaune{color:#e5e515;}
.gris{color:#787878;}
.btn-gray{color: #fff;background-color: #787878;border-color: #787878;}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.big{
	font-size:xx-large;
}

.nopadding{
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.nopadding > a{
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}

.slick{	
	background-color: #eeeeee;
	border-radius: 6px;
}

/*********************************************/
/*                  HEADER                   */
/*********************************************/
.doorsdropdown{
	color:#d40015 !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white !important;
}
.activewindows {
	border-bottom: 2px solid #0c49a6;
}
.activedoors, .activegarages, .activeportals {
	border-bottom: 2px solid #d40015;
}
.activeshutters {
	border-bottom: 2px solid #abd11a;
}
.activestores {
	border-bottom: 2px solid #FFFF00;
}
.activecontacts {
	border-bottom: 2px solid #787878;
}
li.windows:hover{
	border-bottom: 2px solid #0c49a6;
}
li.windows > a:hover, li.windows > a:hover, li.windows > a.active{
	color:#0c49a6 !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

li.doors:hover{
	border-bottom: 2px solid #d40015;
}
li.doors > a:hover, li.doors > a:hover, li.doors > a.active{
	color:#d40015 !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

li.shutters:hover{
	border-bottom: 2px solid #abd11a;
}
li.shutters > a:hover, li.shutters > a:hover, li.shutters > a.active{
	color:#abd11a !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

li.stores:hover{
	border-bottom: 2px solid #FFFF00;
}
li.stores > a:hover, li.stores > a:hover, li.stores > a.active{
	color:#e5e515 !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

li.contacts:hover{
	border-bottom: 2px solid #787878;
}
li.contacts > a:hover, li.contacts > a:hover, li.contacts > a.active{
	color:#787878 !important;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

li.dropdown:hover .dropdown-menu{display:block;border-radius: 6px;}

.navbar{
	background: rgba(251, 252, 250, 0.9);
}

@media (min-width: 1200px){
	.container > #navbar > .navbar-nav > li > a{
		color: #787878;
	}

	.container > #navbar > .navbar-nav > li > a:hover, .container > #navbar > .navbar-nav > li > a:focus{
		color:#000;
		background-color: transparent;
	}

	.navbar-brand>img {
	    height: 100%;
	}

	.navbar-brand {
	    padding: 0;
	    margin-left: 0px;
	    margin-top: 5px;
	}

	.navbar-nav {
	    box-sizing: border-box;
	}
	.navbar{
		height: 76px;
	}

	ul.nav.navbar-nav > li {
	    padding-top: 8px !important;
	    padding-bottom: 16px;
	}

	.contacts{
		padding-top: 16px !important;
	}
	#accueil > div > img {
		width: 100%;
	}
}

@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav{
		width: 100%;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-right {
		display: flex;
	}
	.navbar-nav>li {
		width: 100%;
	}
	.collapse.in{
		display:block !important;
	}
	#navbar{
		background: rgba(255, 255, 255, 0.9);
	}

	.navbar-nav > li > a:hover, .affix-top > .navbar-nav > li > a:focus{
		color:#000;
		background-color: transparent;
	}

	.navbar-brand>img {
	    height: 100%;
	}

	.navbar-brand {
	    padding: 0;
	    margin-left: 0px;
	}

	.navbar-toggle {
	    background-color: #999;
	}
	span.icon-bar {
	    background-color: white;
	}

	.container > #navbar > .navbar-nav > li > a{
		color: black;
	}
	ul.nav.navbar-nav > li {
	    padding-top: none !important;
	    padding-bottom: none !important;
	}
	.contacts {
	    padding-top: none !important;
	}
}

/*********************************************/
/*                  MASONRY                  */
/*********************************************/
#masonry-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.col1 { width: 320px; }
.col1 img { max-width: 320px; }

.centered { margin: 0 auto; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.box {
	margin-bottom: 5px;
}

#grid {
  margin-bottom: 20px;
}
